<settings>
  <servers>
    <server>
      <id>ossrh</id>
      <username>${env.UNAME}</username>
      <password>${env.PWORD}</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>ossrh</id>
        <activation>
          <activeByDefault>true</activeByDefault>
        </activation>
        <properties>
          <gpg.executable>gpg</gpg.executable>
          <gpg.keyname>${env.KEYNAME}</gpg.keyname>
          <gpg.passphrase>${env.PASSPHRASE}</gpg.passphrase>
        </properties>
    </profile>
  </profiles>
</settings>
